/* Universal Selector */
* {
    box-sizing: border-box;
    border: 1px solid red;
    background-color: rgb(75, 66, 95);
    font-family: sans-serif;
}

/* Type Selectors */

header {
    display: flex;
    flex-direction: column;
    text-align: center;
}

main {
    padding: 16px;
    display: flex;
    justify-content: space-between;
}

main p {
    color: rgb(212, 79, 212);
}

main section {
    padding: 16px;
}

body {
    color: white;
}

h1, h2 {
    color: rgb(212, 79, 212);
}

section {
    border: 2px dashed white;
    position: relative;
    padding: 10px;
}

section h2 {
    display: flex;
    justify-content: left;
    border: 2px solid white;
    border-radius: 10px;
    padding: 4px;
    position: absolute;
    top: -40%;
    min-width: 95%;
}

/* Class Selectors */

/* ID Selectors */

/* Pseudo Classes */

section:hover {
    box-shadow: 5px 5px 5px rgb(212, 79, 212) inset;
}

section h2:hover {
    box-shadow: 5px 5px 5px rgb(212, 79, 212) inset;
}
