/* Universal Selector */
* {
    box-sizing: border-box;
    border: 1px solid red;
    background-color: rgb(75, 66, 95);
}

/* Type Selectors */

header {
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

main {

}

main p {
    color: rgb(212, 79, 212);
}
body {
    color: white;
}

h1, h2 {
    color: rgb(212, 79, 212);
}

/* Class Selectors */

/* ID Selectors */
