/* Universal Selector */
* {
    box-sizing: border-box;
    /* border: 1px solid red; */
    background-color: rgb(75, 66, 95);
    font-family: sans-serif;
}

/* Type Selectors */

header {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1em 10%;
}

main {
    padding: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

main p {
    color: rgb(212, 79, 212);
}

main section {
    padding: 16px;
}

div {
    padding: 16px;
    display: flex;
    flex-wrap: inherit;
    justify-content: space-around;
}

body {
    color: white;
}

h1, h2 {
    color: rgb(212, 79, 212);
}

section {
    border: 2px dashed white;
    position: relative;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}

section h2 {
    display: flex;
    justify-content: left;
    border: 2px solid white;
    border-radius: 10px;
    padding: 4px;
}

section pre {
    
}

code {
    background-color: transparent;
}

footer h2 {
    color: rgb(212, 79, 212);
    text-align: center;
}

/* Class Selectors */

.linear-gradient-background {
    background-image: linear-gradient(
        rgb(136, 52, 136) 0%,
        rgb(212, 79, 212) 100%
    );
    border-radius: 10px;
    padding: 8px;
}

.card-header {
    position: absolute;
    margin-top: -33px;
    min-width: 90%;
    flex-wrap: wrap;
}

.code-card {
    display: flex;
    flex-direction: column;
    flex: 1 0 300px;
    margin: 32px;
}

.code-card, .card-header {
    transition: all 0.5s ease-in-out;
}

/* ID Selectors */

/* Pseudo Classes */

.code-card:hover,

.code-card:hover .card-header {
    box-shadow: 
    0px 0px 8px rgb(212, 79, 212),
    inset 0px 0px 15px rgb(212, 79, 212);
}

.code-card code {
    user-select: all;
}

::selection {
    background-color: aquamarine;
    color:rgb(75, 66, 95);
}
